h1 {
    text-align: center;
}

h1, h2 {
    color: crimson;
}

body {
    background-color: bisque;
}

body {
    background-image: url(../images/constellation.jpg);
}

body {
    color: antiquewhite;
}

ul li {
    list-style-type: square;
}

body {
    font-family: "Times New Roman";
}

table, td, tr {
    padding: 20px ;
    font-size: larger;
}

a:link {
    color: yellow;
}

a:visited {
    color: darkgreen;
}

a:hover {
    color: white;
    background: red;
}


